<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated empleados -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="empleado.presentation.EmpleadoModelWizardID"
            name="%_UI_EmpleadoModelWizard_label"
            class="empleado.presentation.EmpleadoModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/EmpleadoModelFile.gif">
         <description>%_UI_EmpleadoModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated empleados -->
      <editor
            id="empleado.presentation.EmpleadoEditorID"
            name="%_UI_EmpleadoEditor_label"
            icon="icons/full/obj16/EmpleadoModelFile.gif"
            extensions="empleado"
            class="empleado.presentation.EmpleadoEditor"
            contributorClass="empleado.presentation.EmpleadoActionBarContributor">
      </editor>
   </extension>

</plugin>
