<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated empleados -->
      <package
            uri="http://ar.edu.unju.fi.empleado"
            class="empleado.EmpleadoPackage"
            genModel="model/empleados.genmodel"/>
   </extension>

</plugin>
